In [1]:
import findspark
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import matplotlib.pyplot as plt
import tensorflow as tf
from pyspark.sql import Row
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
findspark.init()

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataCleaning").getOrCreate()

In [3]:
from pyspark import SparkFiles
file = "income.csv"
spark.sparkContext.addFile(file)
df = spark.read.csv(SparkFiles.get("income.csv"), sep=",", header=True)
df.createOrReplaceTempView('income_spark')

In [4]:
df.show()

+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|       occupation|  relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 40|Self-emp-not-inc|223881| Prof-school|           15|Married-civ-spouse|   Prof-specialty|       Husband|White|  Male|       99999|           0|            70| United-States|  >50K|
| 30|         Private|149118|     HS-grad|            9|          Divorced|     Craft-repair| Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
| 46|         Private|109209|Some-college|           10|Married-civ-spouse|     Adm-clerical|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 32|         Private|229566|   Assoc-voc|           11|Married-civ-spouse|    Other-service|       Husband|White|  Male|           0|           0|            60| United-States|  >50K|
| 54|               ?|148657|   Preschool|            1|Married-civ-spouse|                ?|          Wife|White|Female|           0|           0|            40|        Mexico| <=50K|
| 63|         Private|111963|Some-college|           10|Married-civ-spouse|   Prof-specialty|       Husband|White|  Male|           0|           0|            16| United-States| <=50K|
| 25|         Private|207875|     7th-8th|            4|Married-civ-spouse|Handlers-cleaners|       Husband|White|  Male|           0|           0|            40|        Mexico| <=50K|
| 71|       Local-gov|229110|     HS-grad|            9|           Widowed|  Exec-managerial|Other-relative|White|Female|           0|           0|            33| United-States| <=50K|
| 37|         Private| 66686|     HS-grad|            9|Married-civ-spouse|Handlers-cleaners|       Husband|White|  Male|           0|           0|            40| United-States| <=50K|
| 44|         Private|227399|   Assoc-voc|           11|Married-civ-spouse|  Exec-managerial|       Husband|Black|  Male|           0|           0|            40| United-States| <=50K|
| 21|         Private| 57916|     HS-grad|            9|     Never-married|  Protective-serv|     Own-child|White|  Male|           0|           0|            40| United-States| <=50K|
| 37|       Local-gov|244803|     HS-grad|            9|Married-civ-spouse|     Craft-repair|       Husband|White|  Male|           0|           0|            40|             ?| <=50K|
| 18|         Private|127388|        12th|            8|     Never-married|    Other-service| Not-in-family|White|Female|           0|           0|            25| United-States| <=50K|
| 33|         Private|117963|   Bachelors|           13|Married-civ-spouse|  Exec-managerial|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 29|         Private| 29732|   Bachelors|           13|Married-civ-spouse|   Prof-specialty|          Wife|White|Female|           0|           0|            24| United-States| <=50K|
| 46|         Private|369538|Some-college|           10|Married-civ-spouse|            Sales|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 58|    Self-emp-inc|174864|     HS-grad|            9|Married-civ-spouse|            Sales|       Husband|White|  Male|           0|           0|            55| United-States|  >50K|
| 42|       State-gov|212027|   Bachelors|           13|          Divorced|   Prof-specialty| Not-in-family|Black|  Male|           0|           0|            40| United-States| <=50K|
| 45|       State-gov|110311|     Masters|           14|          Divorced|  Exec-managerial|     Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 62|Self-emp-not-inc|102631|Some-college|           10|           Widowed|  Farming-fishing|     Unmarried|White|Female|           0|           0|            50| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [5]:

#using spark.sql pull all the columsn from the df except for capital.gains, capital.loss, and fnlwgt
df = spark.sql("""SELECT age, 
               workclass, 
               education, 
               education_num, 
               marital_status, 
               occupation, 
               relationship, 
               race, 
               sex, 
               hours_per_week, 
               native_country, 
               income
               FROM income_spark""")

In [6]:
#make the spark dataframe df a pandas dataframe
income = df.toPandas()

In [8]:
income.replace("?", np.nan, inplace=True)
income.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,income
0,40,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,70,United-States,>50K
1,30,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,40,United-States,<=50K
2,46,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
3,32,Private,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,60,United-States,>50K
4,54,NaN,Preschool,1,Married-civ-spouse,NaN,Wife,White,Female,40,Mexico,<=50K

In [9]:
income.dropna(inplace=True)
income.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,income
0,40,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,70,United-States,>50K
1,30,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,40,United-States,<=50K
2,46,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
3,32,Private,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,60,United-States,>50K
5,63,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,16,United-States,<=50K

In [10]:
income_cat = income.dtypes[income.dtypes == 'object'].index.tolist()

In [11]:
#check the number of unique values in each column
income[income_cat].nunique()

age               72
workclass          7
education         16
education_num     16
marital_status     7
occupation        14
relationship       6
race               5
sex                2
hours_per_week    93
native_country    40
income             2
dtype: int64

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(income[income_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(income_cat)
encode_df.head()

c:\Users\nside\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [13]:
# Merge one-hot encoded features and drop the originals
income = income.merge(encode_df,left_index=True, right_index=True)
income = income.drop(income_cat,1)
income.head()

C:\Users\nside\AppData\Local\Temp\ipykernel_40972\2929446180.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  income = income.drop(income_cat,1)

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
#drop capital.gain, capital.loss, fnlwgt, income_>50K
income.drop(['income_>50K'], axis=1, inplace=True)

In [15]:
# Split our preprocessed data into our features and target arrays
y = income["income_<=50K"].values
X = income.drop(["income_<=50K"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 2232

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 2283 (8.92 KB)
Trainable params: 2283 (8.92 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
503/503 [==============================] - 1s 823us/step - loss: 0.5393 - accuracy: 0.7343
Epoch 2/100
503/503 [==============================] - 0s 817us/step - loss: 0.3639 - accuracy: 0.8311
Epoch 3/100
503/503 [==============================] - 0s 821us/step - loss: 0.3472 - accuracy: 0.8411
Epoch 4/100
503/503 [==============================] - 0s 854us/step - loss: 0.3399 - accuracy: 0.8431
Epoch 5/100
503/503 [==============================] - 0s 842us/step - loss: 0.3352 - accuracy: 0.8443
Epoch 6/100
503/503 [==============================] - 0s 790us/step - loss: 0.3317 - accuracy: 0.8478
Epoch 7/100
503/503 [==============================] - 0s 785us/step - loss: 0.3281 - accuracy: 0.8487
Epoch 8/100
503/503 [==============================] - 0s 819us/step - loss: 0.3255 - accuracy: 0.8502
Epoch 9/100
503/503 [==============================] - 0s 763us/step - loss: 0.3230 - accuracy: 0.8514
Epoch 10/100
503/503 [==============================] - 0s 785us/step - loss: 0.3212 - accuracy: 0.8532
Epoch 11/100
503/503 [==============================] - 0s 755us/step - loss: 0.3192 - accuracy: 0.8539
Epoch 12/100
503/503 [==============================] - 0s 744us/step - loss: 0.3170 - accuracy: 0.8555
Epoch 13/100
503/503 [==============================] - 0s 758us/step - loss: 0.3153 - accuracy: 0.8557
Epoch 14/100
503/503 [==============================] - 0s 790us/step - loss: 0.3133 - accuracy: 0.8565
Epoch 15/100
503/503 [==============================] - 0s 744us/step - loss: 0.3117 - accuracy: 0.8579
Epoch 16/100
503/503 [==============================] - 0s 755us/step - loss: 0.3107 - accuracy: 0.8565
Epoch 17/100
503/503 [==============================] - 0s 744us/step - loss: 0.3085 - accuracy: 0.8608
Epoch 18/100
503/503 [==============================] - 0s 801us/step - loss: 0.3071 - accuracy: 0.8599
Epoch 19/100
503/503 [==============================] - 0s 828us/step - loss: 0.3058 - accuracy: 0.8623
Epoch 20/100
503/503 [==============================] - 0s 775us/step - loss: 0.3051 - accuracy: 0.8616
Epoch 21/100
503/503 [==============================] - 0s 766us/step - loss: 0.3038 - accuracy: 0.8622
Epoch 22/100
503/503 [==============================] - 0s 766us/step - loss: 0.3027 - accuracy: 0.8621
Epoch 23/100
503/503 [==============================] - 0s 782us/step - loss: 0.3019 - accuracy: 0.8632
Epoch 24/100
503/503 [==============================] - 0s 804us/step - loss: 0.3007 - accuracy: 0.8633
Epoch 25/100
503/503 [==============================] - 0s 752us/step - loss: 0.3002 - accuracy: 0.8647
Epoch 26/100
503/503 [==============================] - 0s 773us/step - loss: 0.2990 - accuracy: 0.8633
Epoch 27/100
503/503 [==============================] - 0s 761us/step - loss: 0.2977 - accuracy: 0.8656
Epoch 28/100
503/503 [==============================] - 0s 787us/step - loss: 0.2971 - accuracy: 0.8642
Epoch 29/100
503/503 [==============================] - 0s 793us/step - loss: 0.2961 - accuracy: 0.8650
Epoch 30/100
503/503 [==============================] - 0s 774us/step - loss: 0.2953 - accuracy: 0.8652
Epoch 31/100
503/503 [==============================] - 0s 804us/step - loss: 0.2946 - accuracy: 0.8653
Epoch 32/100
503/503 [==============================] - 0s 767us/step - loss: 0.2940 - accuracy: 0.8660
Epoch 33/100
503/503 [==============================] - 0s 757us/step - loss: 0.2934 - accuracy: 0.8659
Epoch 34/100
503/503 [==============================] - 0s 934us/step - loss: 0.2921 - accuracy: 0.8675
Epoch 35/100
503/503 [==============================] - 0s 921us/step - loss: 0.2914 - accuracy: 0.8679
Epoch 36/100
503/503 [==============================] - 0s 837us/step - loss: 0.2906 - accuracy: 0.8675
Epoch 37/100
503/503 [==============================] - 0s 879us/step - loss: 0.2896 - accuracy: 0.8682
Epoch 38/100
503/503 [==============================] - 0s 820us/step - loss: 0.2895 - accuracy: 0.8677
Epoch 39/100
503/503 [==============================] - 0s 874us/step - loss: 0.2888 - accuracy: 0.8675
Epoch 40/100
503/503 [==============================] - 0s 905us/step - loss: 0.2883 - accuracy: 0.8682
Epoch 41/100
503/503 [==============================] - 0s 753us/step - loss: 0.2875 - accuracy: 0.8692
Epoch 42/100
503/503 [==============================] - 0s 792us/step - loss: 0.2869 - accuracy: 0.8680
Epoch 43/100
503/503 [==============================] - 0s 797us/step - loss: 0.2866 - accuracy: 0.8672
Epoch 44/100
503/503 [==============================] - 0s 931us/step - loss: 0.2859 - accuracy: 0.8680
Epoch 45/100
503/503 [==============================] - 0s 846us/step - loss: 0.2850 - accuracy: 0.8693
Epoch 46/100
503/503 [==============================] - 1s 1ms/step - loss: 0.2850 - accuracy: 0.8680
Epoch 47/100
503/503 [==============================] - 0s 957us/step - loss: 0.2838 - accuracy: 0.8685
Epoch 48/100
503/503 [==============================] - 0s 859us/step - loss: 0.2834 - accuracy: 0.8686
Epoch 49/100
503/503 [==============================] - 1s 1ms/step - loss: 0.2832 - accuracy: 0.8702
Epoch 50/100
503/503 [==============================] - 0s 803us/step - loss: 0.2826 - accuracy: 0.8693
Epoch 51/100
503/503 [==============================] - 0s 898us/step - loss: 0.2819 - accuracy: 0.8690
Epoch 52/100
503/503 [==============================] - 0s 778us/step - loss: 0.2816 - accuracy: 0.8698
Epoch 53/100
503/503 [==============================] - 0s 988us/step - loss: 0.2809 - accuracy: 0.8695
Epoch 54/100
503/503 [==============================] - 0s 983us/step - loss: 0.2805 - accuracy: 0.8710
Epoch 55/100
503/503 [==============================] - 0s 891us/step - loss: 0.2805 - accuracy: 0.8706
Epoch 56/100
503/503 [==============================] - 0s 848us/step - loss: 0.2797 - accuracy: 0.8718
Epoch 57/100
503/503 [==============================] - 0s 839us/step - loss: 0.2793 - accuracy: 0.8719
Epoch 58/100
503/503 [==============================] - 0s 858us/step - loss: 0.2788 - accuracy: 0.8720
Epoch 59/100
503/503 [==============================] - 0s 848us/step - loss: 0.2783 - accuracy: 0.8715
Epoch 60/100
503/503 [==============================] - 0s 827us/step - loss: 0.2788 - accuracy: 0.8712
Epoch 61/100
503/503 [==============================] - 0s 869us/step - loss: 0.2780 - accuracy: 0.8722
Epoch 62/100
503/503 [==============================] - 0s 734us/step - loss: 0.2770 - accuracy: 0.8715
Epoch 63/100
503/503 [==============================] - 0s 771us/step - loss: 0.2766 - accuracy: 0.8736
Epoch 64/100
503/503 [==============================] - 0s 733us/step - loss: 0.2767 - accuracy: 0.8722
Epoch 65/100
503/503 [==============================] - 0s 752us/step - loss: 0.2764 - accuracy: 0.8725
Epoch 66/100
503/503 [==============================] - 0s 751us/step - loss: 0.2760 - accuracy: 0.8729
Epoch 67/100
503/503 [==============================] - 0s 770us/step - loss: 0.2755 - accuracy: 0.8728
Epoch 68/100
503/503 [==============================] - 0s 751us/step - loss: 0.2754 - accuracy: 0.8740
Epoch 69/100
503/503 [==============================] - 0s 767us/step - loss: 0.2750 - accuracy: 0.8735
Epoch 70/100
503/503 [==============================] - 0s 745us/step - loss: 0.2750 - accuracy: 0.8727
Epoch 71/100
503/503 [==============================] - 0s 739us/step - loss: 0.2751 - accuracy: 0.8717
Epoch 72/100
503/503 [==============================] - 0s 734us/step - loss: 0.2746 - accuracy: 0.8741
Epoch 73/100
503/503 [==============================] - 0s 733us/step - loss: 0.2744 - accuracy: 0.8740
Epoch 74/100
503/503 [==============================] - 0s 858us/step - loss: 0.2742 - accuracy: 0.8738
Epoch 75/100
503/503 [==============================] - 0s 973us/step - loss: 0.2746 - accuracy: 0.8720
Epoch 76/100
503/503 [==============================] - 0s 923us/step - loss: 0.2737 - accuracy: 0.8741
Epoch 77/100
503/503 [==============================] - 0s 919us/step - loss: 0.2740 - accuracy: 0.8747
Epoch 78/100
503/503 [==============================] - 0s 874us/step - loss: 0.2737 - accuracy: 0.8740
Epoch 79/100
503/503 [==============================] - 0s 787us/step - loss: 0.2729 - accuracy: 0.8740
Epoch 80/100
503/503 [==============================] - 0s 758us/step - loss: 0.2728 - accuracy: 0.8746
Epoch 81/100
503/503 [==============================] - 0s 737us/step - loss: 0.2727 - accuracy: 0.8738
Epoch 82/100
503/503 [==============================] - 0s 731us/step - loss: 0.2724 - accuracy: 0.8723
Epoch 83/100
503/503 [==============================] - 0s 729us/step - loss: 0.2728 - accuracy: 0.8730
Epoch 84/100
503/503 [==============================] - 0s 757us/step - loss: 0.2716 - accuracy: 0.8742
Epoch 85/100
503/503 [==============================] - 0s 741us/step - loss: 0.2720 - accuracy: 0.8740
Epoch 86/100
503/503 [==============================] - 0s 821us/step - loss: 0.2722 - accuracy: 0.8740
Epoch 87/100
503/503 [==============================] - 0s 815us/step - loss: 0.2716 - accuracy: 0.8749
Epoch 88/100
503/503 [==============================] - 0s 777us/step - loss: 0.2716 - accuracy: 0.8746
Epoch 89/100
503/503 [==============================] - 0s 858us/step - loss: 0.2710 - accuracy: 0.8751
Epoch 90/100
503/503 [==============================] - 0s 793us/step - loss: 0.2708 - accuracy: 0.8746
Epoch 91/100
503/503 [==============================] - 0s 829us/step - loss: 0.2710 - accuracy: 0.8748
Epoch 92/100
503/503 [==============================] - 0s 781us/step - loss: 0.2709 - accuracy: 0.8750
Epoch 93/100
503/503 [==============================] - 0s 767us/step - loss: 0.2702 - accuracy: 0.8750
Epoch 94/100
503/503 [==============================] - 0s 821us/step - loss: 0.2703 - accuracy: 0.8750
Epoch 95/100
503/503 [==============================] - 0s 817us/step - loss: 0.2699 - accuracy: 0.8745
Epoch 96/100
503/503 [==============================] - 0s 837us/step - loss: 0.2706 - accuracy: 0.8745
Epoch 97/100
503/503 [==============================] - 0s 757us/step - loss: 0.2706 - accuracy: 0.8738
Epoch 98/100
503/503 [==============================] - 0s 801us/step - loss: 0.2697 - accuracy: 0.8750
Epoch 99/100
503/503 [==============================] - 0s 755us/step - loss: 0.2693 - accuracy: 0.8741
Epoch 100/100
503/503 [==============================] - 0s 746us/step - loss: 0.2693 - accuracy: 0.8761

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

168/168 - 0s - loss: 0.5383 - accuracy: 0.8125 - 203ms/epoch - 1ms/step
Loss: 0.5383003950119019, Accuracy: 0.8125466704368591