In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv("income.csv")
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'sex', 'hours_per_week',
       'native_country', 'income'],
      dtype='object')

In [17]:
df_num = df[["age", "education_num", "hours_per_week"]]

In [18]:
df_obj = df.drop(["age", "education_num", "hours_per_week", "income"], axis = 1)
df_obj = df_obj.astype(str)
df_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23149 entries, 0 to 23148
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   workclass       23149 non-null  object
 1   education       23149 non-null  object
 2   marital_status  23149 non-null  object
 3   occupation      23149 non-null  object
 4   relationship    23149 non-null  object
 5   race            23149 non-null  object
 6   sex             23149 non-null  object
 7   native_country  23149 non-null  object
 8   income          23149 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [20]:

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_obj))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out()
encode_df.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [22]:
# Merge one-hot encoded features and drop the originals
df = df_num.merge(encode_df,left_index=True, right_index=True)

,age,education_num,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,40,15,70,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,30,9,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,46,10,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,32,11,60,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,63,10,16,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:
#drop income_>50K because there are 2 income columns

In [ ]:
# Split our preprocessed data into our features and target arrays


# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X)

# Scale the data
X_scaled = X_scaler.transform(X)

X_scaled[-1]

array([ 1.63114777, -1.61362614, -0.07819317, -0.17980943, -0.2664935 ,
        0.59096972, -0.19163388, -0.29971033, -0.21159254, -0.02277388,
        5.89737059, -0.1898093 , -0.11419722, -0.07248774, -0.0997357 ,
       -0.13427843, -0.12408097, -0.18424234, -0.21336916, -0.44824483,
       -0.11477813, -0.69365469, -0.23698921, -0.03720568, -0.135936  ,
       -0.53450764, -0.40152706, -0.02710927,  1.06653104, -0.11004943,
       -0.6889459 , -0.17891135, -0.16889186, -0.37417627, -0.01610148,
       -0.39197319, -0.39057862, -0.18511782, -0.21927741, -0.26388088,
       -0.34482425, -0.06717819, -0.39460921, -0.14659372, -0.36822533,
       -0.17658366,  4.30906572,  1.18811   , -0.58385166, -0.17370153,
       -0.4164947 , -0.34670339, -0.22132545, -0.10061555, -0.17449173,
       -0.32235128, -0.08727718,  0.40558007, -0.69290338,  0.69290338,
       -0.02459967, -0.05739245, -0.04744865, -0.04363886, -0.05777005,
       -0.04835461, -0.03221549, -0.05546641, -0.05265323, -0.03013288,
       -0.06453152, -0.02789581, -0.04558324, -0.03778336, -0.02078872,
       -0.02459967, -0.02180386, -0.05851804, -0.03084265, -0.02459967,
       -0.04510494, -0.05347193, -0.04413292, -0.02370432, -0.14458243,
       -0.03221549, -0.02277388, -0.03153651, -0.07601703, -0.04313918,
       -0.0335324 , -0.05925671, -0.02078872, -0.04835461, -0.03602269,
       -0.02459967, -0.02629929,  0.30919767, -0.04880134, -0.02277388])