In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("df.csv")

In [10]:
df_cat = df.dtypes[df.dtypes == 'object'].index.tolist()

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(df_cat)
encode_df.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,workclass_nan,education_10th,...,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,native_country_nan,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(df_cat,axis=1)
df.head()

,age,education_num,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,...,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,native_country_nan,income_<=50K,income_>50K
0,40,15,70,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,30,9,40,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,46,10,40,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,32,11,60,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,54,1,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
#drop income_>50K because there are 2 income columns
df.drop(['income_<=50K'], axis=1, inplace=True)

In [17]:
# Split our preprocessed data into our features and target arrays
X = df.drop(["income_>50K"], axis=1).values


# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X)

# Scale the data
X_scaled = X_scaler.transform(X)

X_scaled[-1]

array([ 1.56293513, -1.58185996, -0.03597233, -0.17465075, -0.25736062,
       -0.01414355,  0.65646226, -0.18772201, -0.28964348, -0.20454903,
       -0.02191416, -0.24622215,  5.74172372, -0.19380315, -0.1181185 ,
       -0.07368391, -0.10350635, -0.13931819, -0.12800044, -0.18287206,
       -0.21073262, -0.44317178, -0.11530144, -0.68757112, -0.23430073,
       -0.03797468, -0.13523484, -0.5385687 , -0.39607047, -0.02684248,
        1.08190375, -0.11241761, -0.69889172, -0.18087691, -0.17778775,
       -0.36111401, -0.01549379, -0.37844811, -0.37720384, -0.17826606,
       -0.21207488, -0.25576665, -0.33510828, -0.06617471, -0.3829932 ,
       -0.1413925 , -0.35599884, -0.17146327,  4.44956952, -0.24667869,
        1.2099691 , -0.5832009 , -0.17513658, -0.42972746, -0.34513625,
       -0.22523145, -0.10090907, -0.18170076, -0.32677571, -0.09181764,
        0.41493137, -0.70384244,  0.70384244, -0.02450225, -0.05909444,
       -0.04822235, -0.04339978, -0.05665927, -0.04780387, -0.0316386 ,
       -0.0548546 , -0.05222469, -0.02967786, -0.06494393, -0.02684248,
       -0.04431534, -0.03635581, -0.020004  , -0.02450225, -0.02098079,
       -0.05630291, -0.03034546, -0.02367095, -0.0452125 , -0.05183823,
       -0.04385993, -0.02367095, -0.14314841, -0.03099875, -0.02191416,
       -0.03034546, -0.07558073, -0.04293474, -0.03407854, -0.0584089 ,
       -0.02098079, -0.05026297, -0.03952768, -0.02450225, -0.02608568,
        0.3395947 , -0.04780387, -0.02191416, -0.13338286])