In [1]:
import findspark
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import matplotlib.pyplot as plt
import tensorflow as tf
from pyspark.sql import Row
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
findspark.init()

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataCleaning").getOrCreate()

In [3]:
from pyspark import SparkFiles
file = "income.csv"
spark.sparkContext.addFile(file)
df = spark.read.csv(SparkFiles.get("income.csv"), sep=",", header=True)
df.createOrReplaceTempView('income_spark')

In [4]:
df.show()

+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|       occupation|  relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 40|Self-emp-not-inc|223881| Prof-school|           15|Married-civ-spouse|   Prof-specialty|       Husband|White|  Male|       99999|           0|            70| United-States|  >50K|
| 30|         Private|149118|     HS-grad|            9|          Divorced|     Craft-repair| Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
| 46|         Private|109209|Some-college|           10|Married-civ-spouse|     Adm-clerical|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 32|         Private|229566|   Assoc-voc|           11|Married-civ-spouse|    Other-service|       Husband|White|  Male|           0|           0|            60| United-States|  >50K|
| 54|               ?|148657|   Preschool|            1|Married-civ-spouse|                ?|          Wife|White|Female|           0|           0|            40|        Mexico| <=50K|
| 63|         Private|111963|Some-college|           10|Married-civ-spouse|   Prof-specialty|       Husband|White|  Male|           0|           0|            16| United-States| <=50K|
| 25|         Private|207875|     7th-8th|            4|Married-civ-spouse|Handlers-cleaners|       Husband|White|  Male|           0|           0|            40|        Mexico| <=50K|
| 71|       Local-gov|229110|     HS-grad|            9|           Widowed|  Exec-managerial|Other-relative|White|Female|           0|           0|            33| United-States| <=50K|
| 37|         Private| 66686|     HS-grad|            9|Married-civ-spouse|Handlers-cleaners|       Husband|White|  Male|           0|           0|            40| United-States| <=50K|
| 44|         Private|227399|   Assoc-voc|           11|Married-civ-spouse|  Exec-managerial|       Husband|Black|  Male|           0|           0|            40| United-States| <=50K|
| 21|         Private| 57916|     HS-grad|            9|     Never-married|  Protective-serv|     Own-child|White|  Male|           0|           0|            40| United-States| <=50K|
| 37|       Local-gov|244803|     HS-grad|            9|Married-civ-spouse|     Craft-repair|       Husband|White|  Male|           0|           0|            40|             ?| <=50K|
| 18|         Private|127388|        12th|            8|     Never-married|    Other-service| Not-in-family|White|Female|           0|           0|            25| United-States| <=50K|
| 33|         Private|117963|   Bachelors|           13|Married-civ-spouse|  Exec-managerial|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 29|         Private| 29732|   Bachelors|           13|Married-civ-spouse|   Prof-specialty|          Wife|White|Female|           0|           0|            24| United-States| <=50K|
| 46|         Private|369538|Some-college|           10|Married-civ-spouse|            Sales|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 58|    Self-emp-inc|174864|     HS-grad|            9|Married-civ-spouse|            Sales|       Husband|White|  Male|           0|           0|            55| United-States|  >50K|
| 42|       State-gov|212027|   Bachelors|           13|          Divorced|   Prof-specialty| Not-in-family|Black|  Male|           0|           0|            40| United-States| <=50K|
| 45|       State-gov|110311|     Masters|           14|          Divorced|  Exec-managerial|     Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 62|Self-emp-not-inc|102631|Some-college|           10|           Widowed|  Farming-fishing|     Unmarried|White|Female|           0|           0|            50| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [5]:

#using spark.sql pull all the columsn from the df except for capital.gains, capital.loss, and fnlwgt
df = spark.sql("""SELECT age, 
               workclass, 
               education, 
               education_num, 
               marital_status, 
               occupation, 
               relationship, 
               race, 
               sex, 
               hours_per_week, 
               native_country, 
               income
               FROM income_spark""")

In [6]:
#make the spark dataframe df a pandas dataframe
income = df.toPandas()

In [7]:
income_cat = income.dtypes[income.dtypes == 'object'].index.tolist()

In [8]:
#check the number of unique values in each column
income[income_cat].nunique()

age               73
workclass          9
education         16
education_num     16
marital_status     7
occupation        15
relationship       6
race               5
sex                2
hours_per_week    93
native_country    41
income             2
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(income[income_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(income_cat)
encode_df.head()

d:\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
income = income.merge(encode_df,left_index=True, right_index=True)
income = income.drop(income_cat,1)
income.head()

C:\Users\geoff\AppData\Local\Temp\ipykernel_28780\2929446180.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  income = income.drop(income_cat,1)

,age_17,age_18,age_19,age_20,age_21,age_22,age_23,age_24,age_25,age_26,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
#drop capital.gain, capital.loss, fnlwgt, income_>50K
income.drop(['income_>50K'], axis=1, inplace=True)

In [12]:
# Split our preprocessed data into our features and target arrays
y = income["income_<=50K"].values
X = income.drop(["income_<=50K"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 2272

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 2323 (9.07 KB)
Trainable params: 2323 (9.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
586/586 [==============================] - 1s 749us/step - loss: 0.4384 - accuracy: 0.7825
Epoch 2/100
586/586 [==============================] - 0s 736us/step - loss: 0.3546 - accuracy: 0.8326
Epoch 3/100
586/586 [==============================] - 0s 720us/step - loss: 0.3401 - accuracy: 0.8415
Epoch 4/100
586/586 [==============================] - 0s 721us/step - loss: 0.3332 - accuracy: 0.8441
Epoch 5/100
586/586 [==============================] - 0s 727us/step - loss: 0.3285 - accuracy: 0.8467
Epoch 6/100
586/586 [==============================] - 0s 751us/step - loss: 0.3243 - accuracy: 0.8483
Epoch 7/100
586/586 [==============================] - 0s 733us/step - loss: 0.3210 - accuracy: 0.8492
Epoch 8/100
586/586 [==============================] - 0s 735us/step - loss: 0.3186 - accuracy: 0.8492
Epoch 9/100
586/586 [==============================] - 0s 774us/step - loss: 0.3159 - accuracy: 0.8487
Epoch 10/100
586/586 [==============================] - 0s 738us/step - loss: 0.3141 - accuracy: 0.8522
Epoch 11/100
586/586 [==============================] - 0s 733us/step - loss: 0.3120 - accuracy: 0.8528
Epoch 12/100
586/586 [==============================] - 0s 743us/step - loss: 0.3100 - accuracy: 0.8532
Epoch 13/100
586/586 [==============================] - 0s 730us/step - loss: 0.3083 - accuracy: 0.8545
Epoch 14/100
586/586 [==============================] - 0s 761us/step - loss: 0.3074 - accuracy: 0.8547
Epoch 15/100
586/586 [==============================] - 0s 754us/step - loss: 0.3048 - accuracy: 0.8547
Epoch 16/100
586/586 [==============================] - 0s 728us/step - loss: 0.3041 - accuracy: 0.8556
Epoch 17/100
586/586 [==============================] - 0s 734us/step - loss: 0.3028 - accuracy: 0.8553
Epoch 18/100
586/586 [==============================] - 0s 747us/step - loss: 0.3014 - accuracy: 0.8561
Epoch 19/100
586/586 [==============================] - 0s 728us/step - loss: 0.3005 - accuracy: 0.8581
Epoch 20/100
586/586 [==============================] - 0s 744us/step - loss: 0.2994 - accuracy: 0.8574
Epoch 21/100
586/586 [==============================] - 0s 732us/step - loss: 0.2982 - accuracy: 0.8581
Epoch 22/100
586/586 [==============================] - 0s 754us/step - loss: 0.2978 - accuracy: 0.8576
Epoch 23/100
586/586 [==============================] - 0s 779us/step - loss: 0.2967 - accuracy: 0.8594
Epoch 24/100
586/586 [==============================] - 0s 740us/step - loss: 0.2961 - accuracy: 0.8594
Epoch 25/100
586/586 [==============================] - 0s 745us/step - loss: 0.2951 - accuracy: 0.8611
Epoch 26/100
586/586 [==============================] - 0s 743us/step - loss: 0.2948 - accuracy: 0.8614
Epoch 27/100
586/586 [==============================] - 0s 768us/step - loss: 0.2936 - accuracy: 0.8622
Epoch 28/100
586/586 [==============================] - 0s 778us/step - loss: 0.2929 - accuracy: 0.8616
Epoch 29/100
586/586 [==============================] - 0s 758us/step - loss: 0.2919 - accuracy: 0.8620
Epoch 30/100
586/586 [==============================] - 0s 781us/step - loss: 0.2912 - accuracy: 0.8622
Epoch 31/100
586/586 [==============================] - 0s 737us/step - loss: 0.2907 - accuracy: 0.8634
Epoch 32/100
586/586 [==============================] - 0s 776us/step - loss: 0.2902 - accuracy: 0.8633
Epoch 33/100
586/586 [==============================] - 0s 776us/step - loss: 0.2894 - accuracy: 0.8638
Epoch 34/100
586/586 [==============================] - 0s 731us/step - loss: 0.2889 - accuracy: 0.8641
Epoch 35/100
586/586 [==============================] - 0s 849us/step - loss: 0.2882 - accuracy: 0.8639
Epoch 36/100
586/586 [==============================] - 0s 757us/step - loss: 0.2874 - accuracy: 0.8650
Epoch 37/100
586/586 [==============================] - 0s 745us/step - loss: 0.2863 - accuracy: 0.8645
Epoch 38/100
586/586 [==============================] - 0s 747us/step - loss: 0.2855 - accuracy: 0.8641
Epoch 39/100
586/586 [==============================] - 0s 752us/step - loss: 0.2859 - accuracy: 0.8649
Epoch 40/100
586/586 [==============================] - 0s 743us/step - loss: 0.2846 - accuracy: 0.8644
Epoch 41/100
586/586 [==============================] - 0s 736us/step - loss: 0.2841 - accuracy: 0.8660
Epoch 42/100
586/586 [==============================] - 0s 752us/step - loss: 0.2840 - accuracy: 0.8682
Epoch 43/100
586/586 [==============================] - 0s 744us/step - loss: 0.2832 - accuracy: 0.8657
Epoch 44/100
586/586 [==============================] - 0s 737us/step - loss: 0.2830 - accuracy: 0.8665
Epoch 45/100
586/586 [==============================] - 0s 792us/step - loss: 0.2824 - accuracy: 0.8661
Epoch 46/100
586/586 [==============================] - 0s 774us/step - loss: 0.2814 - accuracy: 0.8671
Epoch 47/100
586/586 [==============================] - 0s 741us/step - loss: 0.2814 - accuracy: 0.8671
Epoch 48/100
586/586 [==============================] - 0s 751us/step - loss: 0.2813 - accuracy: 0.8677
Epoch 49/100
586/586 [==============================] - 0s 736us/step - loss: 0.2804 - accuracy: 0.8687
Epoch 50/100
586/586 [==============================] - 0s 766us/step - loss: 0.2801 - accuracy: 0.8684
Epoch 51/100
586/586 [==============================] - 0s 769us/step - loss: 0.2800 - accuracy: 0.8680
Epoch 52/100
586/586 [==============================] - 0s 844us/step - loss: 0.2793 - accuracy: 0.8674
Epoch 53/100
586/586 [==============================] - 0s 764us/step - loss: 0.2794 - accuracy: 0.8681
Epoch 54/100
586/586 [==============================] - 0s 771us/step - loss: 0.2786 - accuracy: 0.8676
Epoch 55/100
586/586 [==============================] - 0s 745us/step - loss: 0.2784 - accuracy: 0.8681
Epoch 56/100
586/586 [==============================] - 0s 776us/step - loss: 0.2784 - accuracy: 0.8680
Epoch 57/100
586/586 [==============================] - 0s 775us/step - loss: 0.2777 - accuracy: 0.8686
Epoch 58/100
586/586 [==============================] - 0s 825us/step - loss: 0.2776 - accuracy: 0.8688
Epoch 59/100
586/586 [==============================] - 0s 774us/step - loss: 0.2776 - accuracy: 0.8676
Epoch 60/100
586/586 [==============================] - 0s 774us/step - loss: 0.2772 - accuracy: 0.8695
Epoch 61/100
586/586 [==============================] - 0s 769us/step - loss: 0.2773 - accuracy: 0.8684
Epoch 62/100
586/586 [==============================] - 0s 759us/step - loss: 0.2768 - accuracy: 0.8690
Epoch 63/100
586/586 [==============================] - 0s 810us/step - loss: 0.2762 - accuracy: 0.8708
Epoch 64/100
586/586 [==============================] - 0s 836us/step - loss: 0.2764 - accuracy: 0.8687
Epoch 65/100
586/586 [==============================] - 0s 848us/step - loss: 0.2755 - accuracy: 0.8678
Epoch 66/100
586/586 [==============================] - 1s 884us/step - loss: 0.2761 - accuracy: 0.8700
Epoch 67/100
586/586 [==============================] - 0s 805us/step - loss: 0.2753 - accuracy: 0.8696
Epoch 68/100
586/586 [==============================] - 0s 783us/step - loss: 0.2754 - accuracy: 0.8699
Epoch 69/100
586/586 [==============================] - 1s 882us/step - loss: 0.2750 - accuracy: 0.8685
Epoch 70/100
586/586 [==============================] - 0s 820us/step - loss: 0.2746 - accuracy: 0.8695
Epoch 71/100
586/586 [==============================] - 0s 794us/step - loss: 0.2750 - accuracy: 0.8692
Epoch 72/100
586/586 [==============================] - 0s 832us/step - loss: 0.2743 - accuracy: 0.8702
Epoch 73/100
586/586 [==============================] - 0s 807us/step - loss: 0.2744 - accuracy: 0.8692
Epoch 74/100
586/586 [==============================] - 0s 770us/step - loss: 0.2745 - accuracy: 0.8696
Epoch 75/100
586/586 [==============================] - 0s 766us/step - loss: 0.2737 - accuracy: 0.8708
Epoch 76/100
586/586 [==============================] - 0s 824us/step - loss: 0.2735 - accuracy: 0.8695
Epoch 77/100
586/586 [==============================] - 0s 780us/step - loss: 0.2733 - accuracy: 0.8699
Epoch 78/100
586/586 [==============================] - 0s 773us/step - loss: 0.2731 - accuracy: 0.8696
Epoch 79/100
586/586 [==============================] - 0s 763us/step - loss: 0.2730 - accuracy: 0.8701
Epoch 80/100
586/586 [==============================] - 0s 774us/step - loss: 0.2730 - accuracy: 0.8699
Epoch 81/100
586/586 [==============================] - 0s 791us/step - loss: 0.2725 - accuracy: 0.8706
Epoch 82/100
586/586 [==============================] - 0s 776us/step - loss: 0.2728 - accuracy: 0.8710
Epoch 83/100
586/586 [==============================] - 0s 782us/step - loss: 0.2720 - accuracy: 0.8717
Epoch 84/100
586/586 [==============================] - 0s 793us/step - loss: 0.2723 - accuracy: 0.8709
Epoch 85/100
586/586 [==============================] - 0s 800us/step - loss: 0.2719 - accuracy: 0.8709
Epoch 86/100
586/586 [==============================] - 0s 789us/step - loss: 0.2718 - accuracy: 0.8710
Epoch 87/100
586/586 [==============================] - 0s 781us/step - loss: 0.2717 - accuracy: 0.8713
Epoch 88/100
586/586 [==============================] - 0s 784us/step - loss: 0.2717 - accuracy: 0.8719
Epoch 89/100
586/586 [==============================] - 0s 791us/step - loss: 0.2718 - accuracy: 0.8719
Epoch 90/100
586/586 [==============================] - 0s 816us/step - loss: 0.2710 - accuracy: 0.8706
Epoch 91/100
586/586 [==============================] - 1s 1ms/step - loss: 0.2708 - accuracy: 0.8717
Epoch 92/100
586/586 [==============================] - 1s 1ms/step - loss: 0.2707 - accuracy: 0.8712
Epoch 93/100
586/586 [==============================] - 1s 1ms/step - loss: 0.2708 - accuracy: 0.8718
Epoch 94/100
586/586 [==============================] - 1s 892us/step - loss: 0.2706 - accuracy: 0.8717
Epoch 95/100
586/586 [==============================] - 0s 837us/step - loss: 0.2705 - accuracy: 0.8708
Epoch 96/100
586/586 [==============================] - 1s 1ms/step - loss: 0.2702 - accuracy: 0.8721
Epoch 97/100
586/586 [==============================] - 1s 967us/step - loss: 0.2700 - accuracy: 0.8716
Epoch 98/100
586/586 [==============================] - 0s 788us/step - loss: 0.2697 - accuracy: 0.8731
Epoch 99/100
586/586 [==============================] - 1s 866us/step - loss: 0.2697 - accuracy: 0.8716
Epoch 100/100
586/586 [==============================] - 1s 858us/step - loss: 0.2695 - accuracy: 0.8723

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

196/196 - 0s - loss: 0.4683 - accuracy: 0.8120 - 120ms/epoch - 614us/step
Loss: 0.46826446056365967, Accuracy: 0.8119999766349792