In [1]:
import findspark
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import matplotlib.pyplot as plt
import tensorflow as tf
from pyspark.sql import Row
import numpy as np
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
findspark.init()

In [2]:
#import income.csv as income
file = 'income.csv'
income = pd.read_csv(file)
income.head(50)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,income
0,40,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,70,United-States,>50K
1,30,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,40,United-States,<=50K
2,46,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
3,32,Private,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,60,United-States,>50K
4,63,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,16,United-States,<=50K
5,25,Private,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,40,Mexico,<=50K
6,71,Local-gov,HS-grad,9,Widowed,Exec-managerial,Other-relative,White,Female,33,United-States,<=50K
7,37,Private,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,40,United-States,<=50K
8,44,Private,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,Black,Male,40,United-States,<=50K
9,21,Private,HS-grad,9,Never-married,Protective-serv,Own-child,White,Male,40,United-States,<=50K
10,18,Private,12th,8,Never-married,Other-service,Not-in-family,White,Female,25,United-States,<=50K
11,33,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
12,29,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,24,United-States,<=50K
13,46,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,>50K
14,58,Self-emp-inc,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,55,United-States,>50K
15,42,State-gov,Bachelors,13,Divorced,Prof-specialty,Not-in-family,Black,Male,40,United-States,<=50K
16,45,State-gov,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,40,United-States,<=50K
17,62,Self-emp-not-inc,Some-college,10,Widowed,Farming-fishing,Unmarried,White,Female,50,United-States,<=50K
18,26,Private,Some-college,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,45,United-States,<=50K
19,36,Local-gov,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
20,53,Private,Bachelors,13,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Female,21,Japan,>50K
21,21,Private,Some-college,10,Never-married,Tech-support,Own-child,White,Female,25,Ecuador,<=50K
22,34,Private,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Female,50,United-States,<=50K
23,39,Self-emp-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,40,United-States,<=50K
24,52,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,>50K
25,42,Local-gov,HS-grad,9,Divorced,Other-service,Not-in-family,Black,Male,40,United-States,<=50K
26,23,Private,11th,7,Divorced,Other-service,Unmarried,White,Female,35,United-States,<=50K
27,23,Private,Assoc-voc,11,Never-married,Transport-moving,Own-child,Asian-Pac-Islander,Male,40,South,<=50K
28,30,State-gov,HS-grad,9,Separated,Adm-clerical,Unmarried,Black,Female,40,United-States,<=50K
29,33,Local-gov,HS-grad,9,Divorced,Protective-serv,Unmarried,White,Male,40,United-States,<=50K
30,48,Private,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,<=50K
31,28,Private,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Female,45,United-States,<=50K
32,60,Private,HS-grad,9,Widowed,Machine-op-inspct,Not-in-family,White,Female,40,United-States,<=50K
33,61,Private,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,4,United-States,<=50K
34,40,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,<=50K
35,27,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,Black,Female,36,United-States,<=50K
36,45,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,65,United-States,<=50K
37,19,Private,12th,8,Never-married,Other-service,Own-child,White,Female,20,United-States,<=50K
38,33,Private,7th-8th,4,Never-married,Other-service,Unmarried,Black,Female,14,Trinadad&Tobago,<=50K
39,60,Local-gov,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,48,United-States,>50K
40,55,Self-emp-not-inc,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,50,United-States,<=50K
41,36,Private,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,60,United-States,>50K
42,52,Private,HS-grad,9,Married-civ-spouse,Transport-moving,Wife,White,Female,40,United-States,<=50K
43,70,Self-emp-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,35,United-States,>50K
44,19,Private,HS-grad,9,Never-married,Sales,Own-child,White,Female,35,United-States,<=50K
45,38,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,<=50K
46,36,Local-gov,Assoc-acdm,12,Separated,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
47,46,Private,HS-grad,9,Married-spouse-absent,Other-service,Not-in-family,White,Male,35,Mexico,<=50K
48,51,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
49,29,Private,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,<=50K

In [3]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23149 entries, 0 to 23148
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23149 non-null  int64
 1   workclass       23149 non-null  object
 2   education       23149 non-null  object
 3   education_num   23149 non-null  int64
 4   marital_status  23149 non-null  object
 5   occupation      23149 non-null  object
 6   relationship    23149 non-null  object
 7   race            23149 non-null  object
 8   sex             23149 non-null  object
 9   hours_per_week  23149 non-null  int64
 10  native_country  23149 non-null  object
 11  income          23149 non-null  object
dtypes: int64(3), object(9)
memory usage: 2.1+ MB

In [4]:
income_cat = income.dtypes[income.dtypes == 'object'].index.tolist()

In [5]:
df = income

In [6]:
#check the number of unique values in each column
income[income_cat].nunique()

workclass          7
education         16
marital_status     7
occupation        14
relationship       6
race               5
sex                2
native_country    40
income             2
dtype: int64

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(income[income_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(income_cat)
encode_df.head()

d:\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
income = income.merge(encode_df,left_index=True, right_index=True)
income = income.drop(income_cat,1)
income.head()

C:\Users\geoff\AppData\Local\Temp\ipykernel_24612\2929446180.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  income = income.drop(income_cat,1)

,age,education_num,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,40,15,70,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,30,9,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,46,10,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,32,11,60,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,63,10,16,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [10]:
#drop capital.gain, capital.loss, fnlwgt, income_>50K
income.drop(['income_>50K'], axis=1, inplace=True)

# Split our preprocessed data into our features and target arrays
y = income["income_<=50K"].values
X = income.drop(["income_<=50K"], axis=1).values

In [11]:

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 808

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 859 (3.36 KB)
Trainable params: 859 (3.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

543/543 [==============================] - 1s 1ms/step - loss: 0.4441 - accuracy: 0.7670
Epoch 2/100
543/543 [==============================] - 0s 833us/step - loss: 0.3848 - accuracy: 0.8178
Epoch 3/100
543/543 [==============================] - 0s 857us/step - loss: 0.3709 - accuracy: 0.8267
Epoch 4/100
543/543 [==============================] - 0s 796us/step - loss: 0.3631 - accuracy: 0.8313
Epoch 5/100
543/543 [==============================] - 0s 757us/step - loss: 0.3579 - accuracy: 0.8339
Epoch 6/100
543/543 [==============================] - 0s 763us/step - loss: 0.3540 - accuracy: 0.8356
Epoch 7/100
543/543 [==============================] - 0s 860us/step - loss: 0.3513 - accuracy: 0.8366
Epoch 8/100
543/543 [==============================] - 0s 910us/step - loss: 0.3483 - accuracy: 0.8381
Epoch 9/100
543/543 [==============================] - 0s 769us/step - loss: 0.3469 - accuracy: 0.8368
Epoch 10/100
543/543 [==============================] - 0s 810us/step - loss: 0.3446 - accuracy: 0.8391
Epoch 11/100
543/543 [==============================] - 0s 783us/step - loss: 0.3438 - accuracy: 0.8392
Epoch 12/100
543/543 [==============================] - 0s 881us/step - loss: 0.3422 - accuracy: 0.8391
Epoch 13/100
543/543 [==============================] - 0s 790us/step - loss: 0.3415 - accuracy: 0.8403
Epoch 14/100
543/543 [==============================] - 0s 759us/step - loss: 0.3405 - accuracy: 0.8394
Epoch 15/100
543/543 [==============================] - 0s 810us/step - loss: 0.3392 - accuracy: 0.8402
Epoch 16/100
543/543 [==============================] - 0s 767us/step - loss: 0.3390 - accuracy: 0.8411
Epoch 17/100
543/543 [==============================] - 0s 784us/step - loss: 0.3378 - accuracy: 0.8415
Epoch 18/100
543/543 [==============================] - 0s 772us/step - loss: 0.3370 - accuracy: 0.8423
Epoch 19/100
543/543 [==============================] - 0s 768us/step - loss: 0.3364 - accuracy: 0.8411
Epoch 20/100
543/543 [==============================] - 0s 784us/step - loss: 0.3361 - accuracy: 0.8419
Epoch 21/100
543/543 [==============================] - 0s 791us/step - loss: 0.3354 - accuracy: 0.8423
Epoch 22/100
543/543 [==============================] - 0s 781us/step - loss: 0.3347 - accuracy: 0.8439
Epoch 23/100
543/543 [==============================] - 0s 759us/step - loss: 0.3338 - accuracy: 0.8429
Epoch 24/100
543/543 [==============================] - 0s 855us/step - loss: 0.3341 - accuracy: 0.8438
Epoch 25/100
543/543 [==============================] - 0s 798us/step - loss: 0.3337 - accuracy: 0.8421
Epoch 26/100
543/543 [==============================] - 0s 771us/step - loss: 0.3331 - accuracy: 0.8442
Epoch 27/100
543/543 [==============================] - 0s 786us/step - loss: 0.3330 - accuracy: 0.8425
Epoch 28/100
543/543 [==============================] - 0s 781us/step - loss: 0.3321 - accuracy: 0.8444
Epoch 29/100
543/543 [==============================] - 0s 779us/step - loss: 0.3321 - accuracy: 0.8431
Epoch 30/100
543/543 [==============================] - 0s 767us/step - loss: 0.3317 - accuracy: 0.8434
Epoch 31/100
543/543 [==============================] - 0s 786us/step - loss: 0.3315 - accuracy: 0.8449
Epoch 32/100
543/543 [==============================] - 0s 786us/step - loss: 0.3315 - accuracy: 0.8440
Epoch 33/100
543/543 [==============================] - 0s 759us/step - loss: 0.3310 - accuracy: 0.8444
Epoch 34/100
543/543 [==============================] - 0s 761us/step - loss: 0.3310 - accuracy: 0.8437
Epoch 35/100
543/543 [==============================] - 0s 756us/step - loss: 0.3309 - accuracy: 0.8436
Epoch 36/100
543/543 [==============================] - 0s 756us/step - loss: 0.3305 - accuracy: 0.8441
Epoch 37/100
543/543 [==============================] - 0s 858us/step - loss: 0.3305 - accuracy: 0.8437
Epoch 38/100
543/543 [==============================] - 0s 770us/step - loss: 0.3301 - accuracy: 0.8436
Epoch 39/100
543/543 [==============================] - 0s 795us/step - loss: 0.3301 - accuracy: 0.8433
Epoch 40/100
543/543 [==============================] - 0s 772us/step - loss: 0.3299 - accuracy: 0.8449
Epoch 41/100
543/543 [==============================] - 0s 775us/step - loss: 0.3298 - accuracy: 0.8441
Epoch 42/100
543/543 [==============================] - 0s 763us/step - loss: 0.3298 - accuracy: 0.8424
Epoch 43/100
543/543 [==============================] - 0s 774us/step - loss: 0.3295 - accuracy: 0.8436
Epoch 44/100
543/543 [==============================] - 0s 756us/step - loss: 0.3295 - accuracy: 0.8429
Epoch 45/100
543/543 [==============================] - 0s 773us/step - loss: 0.3295 - accuracy: 0.8432
Epoch 46/100
543/543 [==============================] - 0s 769us/step - loss: 0.3291 - accuracy: 0.8455
Epoch 47/100
543/543 [==============================] - 0s 767us/step - loss: 0.3289 - accuracy: 0.8442
Epoch 48/100
543/543 [==============================] - 0s 753us/step - loss: 0.3288 - accuracy: 0.8436
Epoch 49/100
543/543 [==============================] - 0s 768us/step - loss: 0.3288 - accuracy: 0.8429
Epoch 50/100
543/543 [==============================] - 1s 950us/step - loss: 0.3286 - accuracy: 0.8438
Epoch 51/100
543/543 [==============================] - 0s 762us/step - loss: 0.3288 - accuracy: 0.8443
Epoch 52/100
543/543 [==============================] - 0s 769us/step - loss: 0.3286 - accuracy: 0.8430
Epoch 53/100
543/543 [==============================] - 0s 767us/step - loss: 0.3285 - accuracy: 0.8442
Epoch 54/100
543/543 [==============================] - 0s 768us/step - loss: 0.3282 - accuracy: 0.8439
Epoch 55/100
543/543 [==============================] - 0s 763us/step - loss: 0.3280 - accuracy: 0.8453
Epoch 56/100
543/543 [==============================] - 0s 769us/step - loss: 0.3281 - accuracy: 0.8455
Epoch 57/100
543/543 [==============================] - 0s 768us/step - loss: 0.3279 - accuracy: 0.8433
Epoch 58/100
543/543 [==============================] - 0s 750us/step - loss: 0.3278 - accuracy: 0.8440
Epoch 59/100
543/543 [==============================] - 0s 768us/step - loss: 0.3277 - accuracy: 0.8451
Epoch 60/100
543/543 [==============================] - 0s 755us/step - loss: 0.3279 - accuracy: 0.8453
Epoch 61/100
543/543 [==============================] - 0s 789us/step - loss: 0.3275 - accuracy: 0.8441
Epoch 62/100
543/543 [==============================] - 1s 921us/step - loss: 0.3276 - accuracy: 0.8450
Epoch 63/100
543/543 [==============================] - 0s 779us/step - loss: 0.3277 - accuracy: 0.8430
Epoch 64/100
543/543 [==============================] - 0s 771us/step - loss: 0.3273 - accuracy: 0.8455
Epoch 65/100
543/543 [==============================] - 0s 777us/step - loss: 0.3273 - accuracy: 0.8444
Epoch 66/100
543/543 [==============================] - 0s 783us/step - loss: 0.3272 - accuracy: 0.8446
Epoch 67/100
543/543 [==============================] - 0s 801us/step - loss: 0.3272 - accuracy: 0.8452
Epoch 68/100
543/543 [==============================] - 0s 783us/step - loss: 0.3271 - accuracy: 0.8457
Epoch 69/100
543/543 [==============================] - 0s 782us/step - loss: 0.3269 - accuracy: 0.8456
Epoch 70/100
543/543 [==============================] - 0s 812us/step - loss: 0.3266 - accuracy: 0.8451
Epoch 71/100
543/543 [==============================] - 0s 770us/step - loss: 0.3267 - accuracy: 0.8460
Epoch 72/100
543/543 [==============================] - 0s 782us/step - loss: 0.3268 - accuracy: 0.8453
Epoch 73/100
543/543 [==============================] - 0s 775us/step - loss: 0.3265 - accuracy: 0.8463
Epoch 74/100
543/543 [==============================] - 0s 890us/step - loss: 0.3263 - accuracy: 0.8449
Epoch 75/100
543/543 [==============================] - 0s 818us/step - loss: 0.3264 - accuracy: 0.8454
Epoch 76/100
543/543 [==============================] - 0s 795us/step - loss: 0.3263 - accuracy: 0.8455
Epoch 77/100
543/543 [==============================] - 0s 802us/step - loss: 0.3263 - accuracy: 0.8450
Epoch 78/100
543/543 [==============================] - 0s 784us/step - loss: 0.3264 - accuracy: 0.8442
Epoch 79/100
543/543 [==============================] - 0s 772us/step - loss: 0.3258 - accuracy: 0.8449
Epoch 80/100
543/543 [==============================] - 0s 773us/step - loss: 0.3259 - accuracy: 0.8448
Epoch 81/100
543/543 [==============================] - 0s 776us/step - loss: 0.3260 - accuracy: 0.8457
Epoch 82/100
543/543 [==============================] - 0s 774us/step - loss: 0.3258 - accuracy: 0.8457
Epoch 83/100
543/543 [==============================] - 0s 787us/step - loss: 0.3258 - accuracy: 0.8455
Epoch 84/100
543/543 [==============================] - 0s 762us/step - loss: 0.3259 - accuracy: 0.8454
Epoch 85/100
543/543 [==============================] - 0s 777us/step - loss: 0.3259 - accuracy: 0.8453
Epoch 86/100
543/543 [==============================] - 0s 910us/step - loss: 0.3257 - accuracy: 0.8457
Epoch 87/100
543/543 [==============================] - 0s 788us/step - loss: 0.3254 - accuracy: 0.8456
Epoch 88/100
543/543 [==============================] - 0s 775us/step - loss: 0.3254 - accuracy: 0.8461
Epoch 89/100
543/543 [==============================] - 0s 789us/step - loss: 0.3254 - accuracy: 0.8464
Epoch 90/100
543/543 [==============================] - 0s 774us/step - loss: 0.3254 - accuracy: 0.8457
Epoch 91/100
543/543 [==============================] - 0s 770us/step - loss: 0.3251 - accuracy: 0.8457
Epoch 92/100
543/543 [==============================] - 0s 790us/step - loss: 0.3249 - accuracy: 0.8460
Epoch 93/100
543/543 [==============================] - 0s 765us/step - loss: 0.3250 - accuracy: 0.8449
Epoch 94/100
543/543 [==============================] - 0s 795us/step - loss: 0.3249 - accuracy: 0.8450
Epoch 95/100
543/543 [==============================] - 0s 778us/step - loss: 0.3247 - accuracy: 0.8465
Epoch 96/100
543/543 [==============================] - 0s 784us/step - loss: 0.3248 - accuracy: 0.8446
Epoch 97/100
543/543 [==============================] - 0s 796us/step - loss: 0.3249 - accuracy: 0.8461
Epoch 98/100
543/543 [==============================] - 0s 870us/step - loss: 0.3244 - accuracy: 0.8468
Epoch 99/100
543/543 [==============================] - 0s 772us/step - loss: 0.3247 - accuracy: 0.8460
Epoch 100/100
543/543 [==============================] - 0s 762us/step - loss: 0.3244 - accuracy: 0.8463

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

181/181 - 0s - loss: 0.3676 - accuracy: 0.8355 - 221ms/epoch - 1ms/step
Loss: 0.36761921644210815, Accuracy: 0.8355217576026917